* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(51, 51, 51);
}

.root {
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.input-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 20%;
  border: 3px solid rgb(59, 74, 156);
  box-shadow: 10px 9px 15px 3px rgba(46, 60, 134, 0.39);
  border-radius: 1rem;
}

.input-field {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
  margin: 0 auto;
}

.label {
  margin-right: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.input {
  width: 30rem;
  height: 5rem;
  border: 1px solid rgb(26, 34, 78);
  border-radius: 1rem;
  margin-right: 2rem;
}

.input:focus {
  outline: none;
}

.btn-confirm {
  width: 7rem;
  height: 3rem;
  border: 1px solid rgb(26, 34, 78);
  outline: none;
  color:rgb(51, 51, 51);
  background-color: transparent;
  border-radius: 1.5rem;
  cursor: pointer;
}

.btn-confirm:hover {
  transform: translateY(-3px);
  transition: .2s;
}

.btn-confirm:active {
  transform: translateY(3px);
  transition: .2s;
}



.output-field {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
}

.heading-output {
  width: 77%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 3px solid rgb(59, 74, 156);
  border-radius: 1.5rem;
  box-shadow: 10px 9px 15px 3px rgba(46, 60, 134, 0.39);
}

.output-each {
  width: 95%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 3px solid rgb(59, 74, 156);
  border-radius: 1.5rem;
  box-shadow: 10px 9px 15px 3px rgba(46, 60, 134, 0.39);
}

.number {
  width: 10%;
  border-right: 1px solid rgb(148, 148, 148);
}

.trailing-number {
  width: 25%;
  border-right: 1px solid rgb(148, 148, 148);
}

.factroial {
  width: 65%;
}

.output-param {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 1rem;
}




